@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-merriweather {
    font-family: 'Merriweather', serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}